.slide-container {
    width: 80%;
    margin: auto;
  
  }
  
  
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 360px;
    border-radius: 10px;

  }
  
